header {
    height: 800px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)), url(../images/header.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -275px;
}

/* header img {
    position: absolute;
    width: 100%;
    top: -185px;
    object-fit: cover;
    z-index: -1;
    background-image: linear-gradient(white, black);
    image
} */