nav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 10%;
    padding-right: 5%;
    margin-bottom: -80px;
    font-family: "Noto Sans JP", sans-serif;
    z-index: 100;
    background-image: linear-gradient(#766f9f70, rgba(0, 0, 0, 0));
    transition: all 1s ease-out;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* backdrop-filter: blur(10px); */
    /* border-bottom: 1px solid white; */
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); */
}

nav ul {
    display: none;
    list-style: none;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    color: white;
    cursor: pointer;
    text-shadow: 0px 0px 5px #766F9F;
    transition: all 1s ease-out;
}
nav h2 {
    color: white;
    text-shadow: 0px 0px 5px #766F9F;
}
nav ul li {
    width: fit-content;
    height: 100%;
    transition: 0.5s ease;
}
nav ul li:hover {
    color: #980dd8;
    transition: 0.5s ease;
}
nav ul i {
    transition: 0.5s ease;
}
#navActive {
    display: none;
}
/* .openNav, .closeNav {
    display: none;
} */

#burger {
    color: white;
    font-size: 24px;
}

.openNav, .closeNav {
    display: block;
}
nav:has(#navActive:checked) ul {
    display: flex;
    position: absolute;
    right: 5%;
}
nav:has(#navActive:checked) #burger{
    display: none;
    transition: all 1s ease-out;
}
#navActive{
    display: none;
    transition: all 1s ease-out;
}