@media (min-width:600px) and (max-width:1024px) {
    .openNav, .closeNav {
        display: block;
    }
    nav:has(#navActive:checked) ul {
        display: flex;
        position: absolute;
        right: 5%;
    }
    nav:has(#navActive:checked) #burger{
        display: none;
        transition: all 1s ease-out;
    }
    #navActive{
        display: none;
        transition: all 1s ease-out;
    }
    nav {
        padding-left: 4%;
        padding-right: 4%;
        position: relative;
    }
    nav h2 {
        font-size: 22px;
    }
    nav ul {
        display: none;
        font-size: 16px;
        gap: 10px;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutImgDiv {
        width: 40%;
    }
    .aboutTextDiv {
        width: 80%;
    }
    .about p {
        font-size: 16px;
    }
    .serviceDiv {
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .portfolioDiv div {
        width: 300px;
        height: 300px;
    }
    .cta {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .ctaGauche {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ctaDroite {
        margin-right: 0;
    }
    .blog img {
        width: 200px;
        height: 200px;
    }
    .blogPostText1 {
        overflow-y: scroll;
        gap: 10px;
    }
    .blogPost1 {
        height: 200px;
    }
    .blogPostText2 {
        overflow-y: scroll;
        gap: 10px;
    }
    .blogPost2 {
        height: 200px;
    }
    form textarea {
        width: 60%;
    }
}

@media (max-width:600px) {
    nav ul{
        display: none;
        flex-direction: column-reverse;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: rgba(121, 103, 202, 0.212);
        backdrop-filter: blur(10px);
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 25px;
        padding-right: 5%;
        margin-right: 0px;
        align-items: flex-end;
        border-radius: 0px 0px 0px 20px;
        transition: all 1s ease-out;
        /* position: fixed;
        top: 0;
        right: 0; */
    }
    #closeNav {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    #navActive {
        display: none;
    }
    .openNav, .closeNav {
        display: block;
    }
    #navActive:checked ~ .navLien {
        display:flex
    }
    header {
        justify-content: center;
    }
    .headerDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    header h1 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 10px;
    }
    header h2 {
        font-size: 46px;
    }
    header h3 {
        font-size: 16px;
    }
    .about {
        flex-direction: column;
    }
    .aboutTextDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        text-align: center;
    }
    .aboutImgDiv {
        width: 50%;
    }
    .portfolioDiv div{
        width: 250px;
        height: 250px;
    }
    .pricingDiv > div {
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0;
        padding-bottom: 20px;
    }
    .cta {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .ctaGauche {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ctaDroite {
        margin-right: 0;
    }
    .testimonialGauche {
        width: 90%;
        margin-top: 50px;
    }
    .testimonialDroite {
        width: 90%;
    }
    .testimonialGauche > div {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .testimonialDroite > div {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .avatarGauche {
        left: auto;
        top: -60px;
    }
    .avatarDroite {
        left: auto;
        top: -60px;
    }
    .blogPost1 {
        width: 80%;
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .blogPost1 img {
        object-fit: cover;
        width: 100%;
    }
    .blogPost2 {
        width: 80%;
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .blogPost2 img {
        object-fit: cover;
        width: 100%;
    }
    .blogPostText1 {
        gap: 10px;
    }
    .blogPostText2 {
        gap: 10px;
    }
    form {
        width: 80%;
    }
    form textarea {
        width: 100%;
    }
    footer {
        height: fit-content;
    }
    .footerDiv {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .footerDiv i {
        margin-top: 20px;
    }
    .footerDiv p {
        margin-bottom: 20px;
    }

    nav:has(#navActive:checked) ul{
        display: flex;
        transition: all 1s ease-out;
        position: absolute;
        right: 0px;
    }
    nav:has(#navActive:checked) #burger{
        display: none;
        transition: all 1s ease-out;
    }
    #navActive{
        display: none;
        transition: all 1s ease-out;
    }
}