
@media (min-width:1024px) {
    nav ul {
        display: flex;
        position: absolute;
        right: 5%;
        gap: 10px;
        opacity: 0;
        visibility: hidden;
    }

    nav:has(#navActive:checked) ul {
        display: flex;
        opacity: 1;
        visibility: visible;
        /* transform: translateY(0); */
    }

    @keyframes hoverEffect {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }

    }

    nav ul li a {
        opacity: 0;
        transform: translateY(-30px);
        transition: 
            opacity 0.3s cubic-bezier(0.48,-0.07, 0.49, 1.48), 
            transform 0.3s cubic-bezier(0.48,-0.07, 0.49, 1.48);
    }
    /* Hover effect */
    nav:has(#navActive:checked) ul li:hover a {
        /* transform: translateY(-10px); */
        color: rgb(232, 207, 255);
        /* transition: transform 0.3s ease, color 0.3s ease;
        transition-delay: 0s !important; */
        animation: hoverEffect 0.3s cubic-bezier(0.48,-0.07, 0.49, 1.48) forwards 1;
    }
    

    nav:has(#navActive:checked) ul li a {
        opacity: 1;
        transform: translateY(0);
    }

    /* Délais d'apparition */
    nav:has(#navActive:checked) ul li:nth-of-type(1) a { transition-delay: 0.5s; }
    nav:has(#navActive:checked) ul li:nth-of-type(2) a { transition-delay: 0.4s; }
    nav:has(#navActive:checked) ul li:nth-of-type(3) a { transition-delay: 0.3s; }
    nav:has(#navActive:checked) ul li:nth-of-type(4) a { transition-delay: 0.2s; }
    nav:has(#navActive:checked) ul li:nth-of-type(5) a { transition-delay: 0.1s; }
    nav:has(#navActive:checked) ul li:nth-of-type(6) a { transition-delay: 0s; }

    /* Délais de fermeture (inversés) */
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(6) a { transition-delay: 0s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(5) a { transition-delay: 0.1s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(4) a { transition-delay: 0.2s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(3) a { transition-delay: 0.3s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(2) a { transition-delay: 0.4s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(1) a { transition-delay: 0.5s; }

    /* Gestion du bouton de fermeture */
    .closeNav {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    nav:not(:has(#navActive:checked)) .closeNav {
        opacity: 0;
        pointer-events: none;
    }

    /* Gestion du burger */
    .openNav {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    nav:has(#navActive:checked) .openNav {
        opacity: 0;
        pointer-events: none;
    }
}

@media (min-width:600px) and (max-width:1024px) {
    nav h2 {
        font-size: 20px;
    }
    nav {
        padding-left: 5%;
    }
    nav ul {
        display: flex;
        position: absolute;
        right: 5%;
        gap: 10px;
        opacity: 0;
        visibility: hidden;
    }

    nav:has(#navActive:checked) ul {
        display: flex;
        opacity: 1;
        visibility: visible;
        /* transform: translateY(0); */
    }

    @keyframes hoverEffect {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(0);}
    }

    nav ul li a {
        opacity: 0;
        transform: translateY(-30px);
        transition: 
            opacity 0.3s cubic-bezier(0.48,-0.07, 0.49, 1.48), 
            transform 0.3s cubic-bezier(0.48,-0.07, 0.49, 1.48);
    }
    /* Hover effect */
    nav:has(#navActive:checked) ul li:hover a {
        /* transform: translateY(-10px); */
        color: rgb(232, 207, 255);
        /* transition: transform 0.3s ease, color 0.3s ease;
        transition-delay: 0s !important; */
        animation: hoverEffect 0.3s cubic-bezier(0.48,-0.07, 0.49, 1.48) forwards;
    }
    

    nav:has(#navActive:checked) ul li a {
        opacity: 1;
        transform: translateY(0);
    }

    /* Délais d'apparition */
    nav:has(#navActive:checked) ul li:nth-of-type(1) a { transition-delay: 0.5s; }
    nav:has(#navActive:checked) ul li:nth-of-type(2) a { transition-delay: 0.4s; }
    nav:has(#navActive:checked) ul li:nth-of-type(3) a { transition-delay: 0.3s; }
    nav:has(#navActive:checked) ul li:nth-of-type(4) a { transition-delay: 0.2s; }
    nav:has(#navActive:checked) ul li:nth-of-type(5) a { transition-delay: 0.1s; }
    nav:has(#navActive:checked) ul li:nth-of-type(6) a { transition-delay: 0s; }

    /* Délais de fermeture (inversés) */
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(6) a { transition-delay: 0s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(5) a { transition-delay: 0.1s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(4) a { transition-delay: 0.2s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(3) a { transition-delay: 0.3s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(2) a { transition-delay: 0.4s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(1) a { transition-delay: 0.5s; }

    /* Gestion du bouton de fermeture */
    .closeNav {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    nav:not(:has(#navActive:checked)) .closeNav {
        opacity: 0;
        pointer-events: none;
    }

    /* Gestion du burger */
    .openNav {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    nav:has(#navActive:checked) .openNav {
        opacity: 0;
        pointer-events: none;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutImgDiv {
        width: 40%;
    }
    .aboutTextDiv {
        width: 80%;
    }
    .about p {
        font-size: 16px;
    }
    .serviceDiv {
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .portfolioDiv div {
        width: 300px;
        height: 300px;
    }
    .cta {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .ctaGauche {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ctaDroite {
        margin-right: 0;
    }
    .blog img {
        width: 200px;
        height: 200px;
    }
    .blogPostText1 {
        overflow-y: scroll;
        gap: 10px;
    }
    .blogPost1 {
        height: 200px;
    }
    .blogPostText2 {
        overflow-y: scroll;
        gap: 10px;
    }
    .blogPost2 {
        height: 200px;
    }
    form textarea {
        width: 60%;
    }
}

@media (max-width:600px) {
    nav ul {
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
        position: absolute;
        top: 28px;
        right: 0px;
        background-color: rgba(137, 43, 226, 0.319);
        backdrop-filter: blur(10px);
        border-radius: 0px 0px 0px 20px;
        padding-top: 30px;
        margin-top: -30px;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-right: 5%;
        transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
        transition: all 0.3s ease;
    }
    nav:not(:has(#navActive:checked)) ul {
        backdrop-filter: none;
        position: absolute;
        visibility: hidden;
        top: 28px;
        right: 0px;
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s, background-color 0.3s ease;
    }
    nav:has(#navActive:checked) ul {
        position: absolute;
        right: 0px;
        top: 28px;
        transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    }
    /* nav ul {
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
        position: absolute;
        top: 0px;
        padding-right: 5%;
        gap: 10px;
        background-color: rgba(137, 43, 226, 0.319);
        backdrop-filter: blur(10px);
        border-radius: 0px 0px 0px 20px;
        padding-top: 30px;
        margin-top: -30px;
        padding-left: 20px;
        padding-bottom: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(0);
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }
    nav:has(#navActive:checked) ul {
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
        position: absolute;
        top: 30px;
        padding-right: 5%;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease, visibility 0s;
        /* transform: translateY(0);
    } */

    @keyframes hoverEffect {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-10px);
        }
        100% {
            transform: translateX(0);
        }

    }

    nav ul li a {
        opacity: 0;
        transform: translateX(-30px);
        transition: 
            opacity 0.5s cubic-bezier(0.48,-0.07, 0.49, 1.48), 
            transform 0.5s cubic-bezier(0.48,-0.07, 0.49, 1.48);
    }
    /* Hover effect */
    nav:has(#navActive:checked) ul li:hover a {
        color: rgb(232, 207, 255);
        animation: hoverEffect 0.3s cubic-bezier(0.48,-0.07, 0.49, 1.48) forwards 1;
    }
    

    nav:has(#navActive:checked) ul li a {
        opacity: 1;
        transform: translateX(0);
    }

    /* Délais d'apparition */
    nav:has(#navActive:checked) ul li:nth-of-type(1) a { transition-delay: 0.5s; }
    nav:has(#navActive:checked) ul li:nth-of-type(2) a { transition-delay: 0.4s; }
    nav:has(#navActive:checked) ul li:nth-of-type(3) a { transition-delay: 0.3s; }
    nav:has(#navActive:checked) ul li:nth-of-type(4) a { transition-delay: 0.2s; }
    nav:has(#navActive:checked) ul li:nth-of-type(5) a { transition-delay: 0.1s; }
    nav:has(#navActive:checked) ul li:nth-of-type(6) a { transition-delay: 0s; }

    /* Délais de fermeture (inversés) */
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(6) a { transition-delay: 0s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(5) a { transition-delay: 0.1s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(4) a { transition-delay: 0.2s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(3) a { transition-delay: 0.3s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(2) a { transition-delay: 0.4s; }
    nav:not(:has(#navActive:checked)) ul li:nth-of-type(1) a { transition-delay: 0.5s; }

    /* Gestion du bouton de fermeture */
    .closeNav {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    nav:not(:has(#navActive:checked)) .closeNav {
        opacity: 0;
        pointer-events: none;
    }

    /* Gestion du burger */
    .openNav {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    nav:has(#navActive:checked) .openNav {
        opacity: 0;
        pointer-events: none;
    }
    header {
        justify-content: center;
    }
    .headerDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    header h1 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 10px;
    }
    header h2 {
        font-size: 46px;
    }
    header h3 {
        font-size: 16px;
    }
    .about {
        flex-direction: column;
    }
    .aboutTextDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        text-align: center;
    }
    .aboutImgDiv {
        width: 50%;
    }
    .portfolioDiv div{
        width: 250px;
        height: 250px;
    }
    .pricingDiv > div {
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0;
        padding-bottom: 20px;
    }
    .cta {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .ctaGauche {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ctaDroite {
        margin-right: 0;
    }
    .testimonialGauche {
        width: 90%;
        margin-top: 50px;
    }
    .testimonialDroite {
        width: 90%;
    }
    .testimonialGauche > div {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .testimonialDroite > div {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .avatarGauche {
        left: auto;
        top: -60px;
    }
    .avatarDroite {
        left: auto;
        top: -60px;
    }
    .blogPost1 {
        width: 80%;
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .blogPost1 img {
        object-fit: cover;
        width: 100%;
    }
    .blogPost2 {
        width: 80%;
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .blogPost2 img {
        object-fit: cover;
        width: 100%;
    }
    .blogPostText1 {
        gap: 10px;
    }
    .blogPostText2 {
        gap: 10px;
    }
    form {
        width: 80%;
    }
    form textarea {
        width: 100%;
    }
    footer {
        height: fit-content;
    }
    .footerDiv {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .footerDiv i {
        margin-top: 20px;
    }
    .footerDiv p {
        margin-bottom: 20px;
    }
}